* text=auto eol=lf
*.sh text eol=lf
tools/microsags text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.tsv text eol=lf
*.html text eol=lf
CMakeLists.txt text eol=lf
